@model IEnumerable<State>
@{List<string> allTimezones = ViewData["AllTimezones"] as List<string>;}

<h1>States</h1>

<h4>Filter by Timezone</h4>

@foreach (var timezone in allTimezones)
{
    <a href="/states?timezone=@timezone">@timezone</a> <span> | </span>
}
<a href="/states">All Timezones</a>

@if(ViewData["SearchTimezone"] != null)
{
    <h3>Filtering by @ViewData["SearchTimezone"] Timezone</h3>
}

@foreach (var state in Model)
{
    <p><strong>@state.Abbreviation</strong>: <a href="/states/@state.Id">@state.Name</a></p>

    <form method="post" action="/states/delete/@state.Id">
        <button type="submit">Delete</button>
    </form>
}

<p><a href="/states/new">New State</a></p>
